body.dark {
  background: $secondary;
  color: $light;
  .navbar,
  .card,
  .btn-light {
    background: $dark !important;
    color: $light;
  }
  .btn {
    border: none;
  }
  .navbar-nav .nav-link {
    color: $gray-400;
  }
  .navbar-nav .nav-link.active,
  .navbar-brand {
    color: $light;
  }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active:hover,
  .navbar-brand:hover {
    color: $light;
  }
}

body.light {
  background: $light;
  color: $dark;
  .btn-dark {
    background: $secondary !important;
    color: $light;
  }
}
